.App-header {
    background-color: #303e5a;
    max-height: 20%;
    max-width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
  }
  
    
    
    