/* #head{
  background-color: blue;
} */

h1{
  background-color: rgb(250, 238, 192);
}

body{
  background-color: #9dad9a;
}

.heading{
  width:100%;
  height:140px;
  text-align: center;
  
}

#logo{
  border: 4px solid #7aa8a8;
  float:left;
  width: 250px;
  height: auto;
  align-self: left;
}